front:
  build: docker/front
  volumes_from:
    - app
  volumes:
    - ./docker/cache/nginx/logs:/var/log/nginx
  links:
    - app
  ports:
    - 80:80

app:
  build: docker/app
  volumes:
    - .:/var/www/html
  links:
    - db

phpmyadmin:
  image: phpmyadmin/phpmyadmin
  links:
    - db
  ports:
   - 8080:80

db:
  build: docker/db
  volumes:
    - ./docker/cache/mysql:/var/lib/mysql
  environment:
    MYSQL_ROOT_PASSWORD: 'wordpress'
    MYSQL_DATABASE: 'wordpress'
    MYSQL_USER: 'wordpress'
    MYSQL_PASSWORD: 'wordpress'
