@font-face {
  font-family: 'xxx';
  src: url('../fonts/xxx.woff2') format('woff2'),
       url('../fonts/xxx.woff') format('woff'),
       url('../fonts/xxx.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
