// $font-family-sans-serif:;

// Colors
$white: #fff;
$black: #000;

$brand-facebook: #3b5998;

// $brand-primary:;
// $headings-color:;

//$body-bg:;

// Thumbnail
// $thumbnail-bg:;
// $thumbnail-border:;

// Modals
// $modal-content-border-color:;
// $modal-backdrop-bg:;
// $modal-header-border-color:;
// $modal-inner-padding:;

// Navbar
// $navbar-height:;
// $navbar-default-bg:;
// $navbar-margin-bottom:;
// $navbar-border-color:;
// $navbar-default-color:;
// $navbar-padding-vertical:;
// $navbar-default-link-color:;
// $navbar-padding-vertical:;
// $navbar-default-link-color:;

// Dropdown
// $dropdown-bg:;
// $dropdown-border:;

// Forms
// $input-border-radius:;
// $input-border:;
// $input-color-placeholder:;
// $input-border-focus:;

// // Others
// $border-radius-base:;
// $grid-float-breakpoint:;
