.nav.navbar-nav {

  & > .page_item_has_children {
    @extend .dropdown;

    &:hover > ul.children {
      display: block;
      margin-top: 0;
    }

    & > a {
      @extend .dropdown-toggle;

      &:after {
        content: '\f0d7';
        font-family: 'FontAwesome';
        margin-left: 5px;
      }
    }

    & > ul {
      @extend .dropdown-menu;
    }
  }
}
